# Ignore everything
*

# But allow directories so Git can traverse into them
!*/

# Allow the specific directory tree
!.gitignore
!obsidian-git/
!obsidian-git/data.json
!quickadd/
!quickadd/data.json
